packages: [
  "advanced-open-file"
  "angularjs"
  "atom-beautify"
  "atom-bootstrap3"
  "atom-delete-current-file"
  "atom-ide-ui"
  "atom-material-syntax-dark"
  "atom-terminal"
  "auto-detect-indentation"
  "autoclose-html"
  "autocomplete-python"
  "behave-theme"
  "build"
  "build-gradle"
  "busy-signal"
  "city-lights-syntax"
  "city-lights-ui"
  "color-picker"
  "fonts"
  "git-blame"
  "git-plus"
  "go-imports"
  "go-plus"
  "go-rename"
  "highlight-line"
  "highlight-selected"
  "ide-java"
  "ide-typescript"
  "intentions"
  "language-ansible"
  "language-docker"
  "language-gradle"
  "language-groovy"
  "language-jenkinsfile"
  "language-markdown"
  "language-salt"
  "linter"
  "linter-csslint"
  "linter-flake8"
  "linter-htmlhint"
  "linter-pycodestyle"
  "linter-ui-default"
  "markdown-preview-plus"
  "minimap"
  "minimap-highlight-selected"
  "monokai-slate2"
  "now-syntax"
  "nucleus-dark-ui"
  "open-on-bitbucket"
  "package-sync"
  "platformio-ide-terminal"
  "python-autopep8"
  "rainbow-tabs"
  "script"
  "seti-syntax"
  "seti-ui"
]
